---
import byteSize from 'byte-size';

export interface Props {
	size: number;
}

const { size } = Astro.props as Props;
const { unit, value } = byteSize(size, { units: 'iec', precision: 0 });
---

<span class="filesize">
	{value}<span class="filesize-label-sm">{unit.slice(0, 1)}</span><span class="filesize-label-lg">
		{unit}</span
	>
</span>

<style>
	.filesize-label-lg {
		display: none;
	}

	@media (min-width: 31.25em) {
		.filesize-label-sm {
			display: none;
		}

		.filesize-label-lg {
			display: inline;
		}
	}

	:global([data-numeric-value='0']) .filesize-label-sm,
	:global([data-numeric-value='0']) .filesize-label-lg {
		display: none;
	}
</style>
