.leaderboard-wrapper {
	margin-left: -0.5rem;
	margin-right: -0.4375rem;
}
.leaderboard {
	margin: 0 auto;
	width: 100%;
	max-width: 100rem;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: left;
}

.leaderboard th {
	font-size: 0.8125em;
	color: #ddd;
	font-weight: normal;
}

@media (min-width: 50em) {
	.leaderboard td {
		font-size: 1.3125em;
	}
}

.leaderboard :is(th, td) {
	padding: 0.75rem 0.5rem;
}

.leaderboard-data-right {
	text-align: right;
}

.leaderboard-list-entry {
	border-top: 1px dotted rgba(82, 111, 255, 0.5);
}

.leaderboard-list-entry-thumbnail {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
	padding: 0.25em;
	vertical-align: middle;
	border: none;
	border-radius: 0.2em;
	background-color: hsla(290, 100%, 85%, 0.36);
}

.leaderboard-url {
	width: 100%;
}

.leaderboard-url a[href] {
	display: flex;
}

.url {
	word-break: break-word;
}

@media (min-width: 37.5em) {
	.url {
		font-size: 1.25em;
	}
}

.leaderboard-redirect-error,
.leaderboard-redirect-warn {
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: 400;
	margin-left: 1rem;
}

.leaderboard-redirect-warn {
	color: hsl(58, 100%, 71%);
}

.leaderboard-redirect-warn::before {
	content: '⚠️ ';
}

.leaderboard-redirect-warn code {
	text-transform: none;
}

a[href^='#'] {
	text-decoration: none;
}

.leaderboard-score {
	white-space: nowrap;
}

.leaderboard-score-circles {
	display: inline-flex;
	flex-wrap: nowrap;
	margin-right: 8px;
}

.leaderboard-score-circles .speedlify-score {
	font-size: 0.8125rem;
}

.leaderboard-score-circles-400 .speedlify-score {
	border-color: currentColor;
	color: #bcffc2;
}

.leaderboard-score-sum {
	display: inline-block;
	vertical-align: middle;
}

@media (max-width: 29em) {
	.leaderboard-score {
		display: none;
	}
}

@media (max-width: 64em) {
	.leaderboard-hide-md {
		display: none;
	}
}

@media (max-width: 34em) {
	.leaderboard-score-circles {
		display: none;
	}
}
