<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hyperdrive Odometer 🚀</title>
		<meta name="description" content="Benchmark web pages over time.">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<h1>Hyperdrive Odometer</h1>
    <p>Benchmarking the performance of Astro sites over time.</p>
		<slot />
		<footer>
			MIT licensed. Built with <a href="https://astro.build/">Astro</a>. Based on <a href="https://github.com/zachleat/speedlify/">Speedlify</a> by <a href="https://www.zachleat.com/">@zachleat</a>.
		</footer>
	</body>
</html>
