name: Statistics
on:
  schedule:
    - cron: '0 6 1 * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
        token: ${{ secrets.PAT }}
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 7.1.9
    - name: Use Node.js 18
      uses: actions/setup-node@v2
      with:
        node-version: 18
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install
    - name: Build
      run: pnpm build
    - name: Collect statistics
      run: pnpm collect-stats
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Generate monthly statistics
